body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Patrick Hand';
}

.block{
    height: 500px;
}

the-heading {
    text-align: center;
    padding: 1em;
}

#overlay{
    display: none;
    height: 100%;
    width: 100%;
    position: fixed; 
    z-index: 6; 
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.9); 
    transition: 0.5s;
}

#checkCont{
    display: none;
    position: fixed;
    background-color: #382D72;
    width: 21em; 
    padding: 1em 0 1em 0;
    border-radius: 20px;
    z-index: 7;
}

.statInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    }

.statItem:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    }

.statItem:nth-child(2) {
    order: 0;
    flex: 0 1 auto;
    align-self: center;
    }

#stat1,#stat2,#stat3,#stat4{
    visibility: hidden;
}